html{
  margin:0px;
  padding:0px;
  height:100%;
}
body {
  height:100%;
  background-color:#83a87f;
  color:rgb(51, 145, 51);
  font-family:Helvetica;
  font-size:calc(6px + 1vw);
  margin:0;
  padding:0px;
  display:flex;
  flex-direction:column;
  align-items:stretch;
}
main{
  width:100%;
  min-height:60vh;
  margin:0px;
  margin:0px;
  background-color:#36393e;
  /*background-image:url("graphics/background.jpg"); */
  background-attachment:scroll;
  background-repeat:repeat-y;
  background-position:center center;
  background-size:100vw;
}
nav{
  font-weight:bold;
  font-size:calc(9px + 1.5vw);
  padding-top:calc(3px + 0.5vh);
  padding-right:0px;
  padding-bottom:calc(3px + 0.5vh);
  padding-left:0px;
  background-color:#83a87f;
}
nav ul {
  list-style-type:none;
  overflow:hidden;
  margin:0px;
  padding:0;
}
nav ul li {
  display:inline-block;
  margin:calc(3px + 0.5vh) 2vw calc(3px + 0.5vh) 2vw;
}
nav ul li a:link{
  color:#ffffff;
  text-decoration:none;
}
nav ul li a:visited{
  color:#ffffff;
  text-decoration:none;
}
nav ul li a:hover{
  color:#000000;
  text-decoration: none;
}
nav ul li a:active{
  color:#000000;
  text-decoration:none;
}
header{
  margin:0px;
  padding:0px;
  background-color:#254429;
  text-align:center;
  flex-shrink:0;
}
h1{
  display:flex;
  flex-direction: row;
  font-size:calc(12px + 2vw);
  margin:0px;
  padding:1vh 1vw 1vh 1vw;
  align-items:center;
  justify-content:center;
}
h2{
  margin:0px;
  padding-top:calc(6px + 0.8vw);
  padding-bottom:calc(6px + 0.8vw);
  font-size:calc(9px + 1.5vw);
}
h3{
  display:flex;
  flex-direction:row;
  font-size:calc(9px + 1.5vw);
  margin:0px;
  padding:2vh 1vw 2vh 0vw;
  align-items:center;
  justify-content:left;
}
#info{
  text-align:center;
  display:block;
}
#logo{
  width:5vw;
  height:5vw;
  margin:1vh 1vw;
}
ol{
  margin:0px;
  padding:0px 2vw 0px 2vw;
}
::selection {
  background:#004b1d88;
}
footer{
  background-color:#83a87f;
  flex-shrink:0;
  padding-top:calc(6px + 1vh);
  padding-right:calc(6px + 1vw);
  padding-bottom:calc(6px + 1vh);
  padding-left:calc(6px + 1vw);
  text-align:center;
}
#div-main{
  flex-grow:1;
  flex-shrink:0;
  display:flex;
  flex-direction:row;
  color: rgb(55, 161, 101);
}
#main-div {
    padding: 0px 1vw 0px 2vw;
    color: rgb(255, 255, 255);
}

p{
  padding:2vh 1vw 2vh 0vw;
  margin:0px;
}
aside{
  min-width:10vw;
  background-image:url("graphics/reklama.svg");
  background-repeat:repeat-y;
  background-size:10vw;
  margin:0px;
  padding:0px;
}
video{
width:80vw;
}
#div-video{
  text-align:center;
  margin-left:-2vw;
  padding:0vh 0vw 2vh 0vw;
}
.gallery-img{
  width:20vw;
  padding:1vw;
  display:block;
}
.two{
  display:flex;
  flex-direction:row;
}
@media screen and (max-width: 800px){
  .two{
    display:flex;
    flex-direction:column;
  }
   .gallery-img{
    width:40vw;
    padding:1vw;
  }
} 
.roww{
  display:flex;
  flex-direction:row;
}
#gallery-div{
  display:flex;
  justify-content:center;
  align-items:center;
  padding-top:1vh;
}
a:link{
  color:white;
  text-decoration:none;
  font-weight:bold;
}
a:visited{
  color:white;
  text-decoration:none;
  font-weight:bold;
}
a:hover{
  color:#006680;
  text-decoration:none;
}
a:active{
  color:#006680;
  text-decoration:none;
}
.gallery-container{
  position:relative;
}
.gallery-container:hover .overlay{
  opacity:1;
}
.overlay{
  position:absolute;
  top:1vw;
  left:1vw;
  right:1vw;
  bottom:1vw;
  opacity:0;
  transition:0.5s linear;
  background-color:#00222B;
  display:flex;
  justify-content:center;
  align-items:center;
}
.download-text{
  color:#006680;
  font-family:Helvetica;
  font-weight:bold;
  font-size:calc(9px + 1.5vw);
  text-align:center;
}
#animated-icon{
  width:20vw;
  animation:rotation 6s linear infinite reverse;
}
#logo-div{
  margin-top:5vh;
  width:100%;
  display:flex;
  justify-content:center;
}
@keyframes rotation {
  from{
    transform:rotate(0deg);
  }
  to{
    transform:rotate(359deg);
  }
}
#homepage{
width:80vw;
margin-bottom:1vh;
}
.profile{
  width:10vw;
  height:10vw;
  margin:2vh 2vw;
  border-color: #ffffff #ffffff;
  border-image: none;
  border-radius: 50% 50% 50% 50%;
  border-style: solid;
  border-width: 5px;
  height: 200px;
  width: 200px;
  overflow: hidden;
}
